version: "3.4"
services:
  lambda-python:
    image: lambci/lambda:python3.6
    environment:
      PYTHONPATH: /var/task/spec:/var/task/app
    volumes:
      - ./src:/var/task
    working_dir: /var/task/spec
    entrypoint: []
