version: "3.4"
services:
  sam-local:
    image: akirakoyasu/aws-sam-local
    build: .
    environment:
      # mount host dir
      SAM_DOCKER_VOLUME_BASEDIR: ${PWD}/src/app
    volumes:
      - .:/var/lib/sam-local
      - /var/run/docker.sock:/var/run/docker.sock
